


.inputbox, .button, .login-fields input { 
  border: 1px solid #666666;
  background:#15a5ff;
  color:#000; 
}
.inputbox:hover, .button:hover, .login-fields input:hover { background:#242424; color:#1395e7; }

a:link, a:visited {color: #15a5ff;}
a:hover, a:active, a:focus {color: #afe0ff;}

body {background: #fff;}
#wrapper1 {background: url("awuaxyvadou.gif") top left repeat-x;}
#wrapper2 {background: #242424;}
#wrapper3 {border-top:1px solid #000; background: #fff;}
body, td, div, p {color: #fff;}




#header{background: url("oocyvyoqoure.jpg") top left no-repeat;}
#title {color: #59afff; text-shadow:1px 1px #0c0f12;}




#topnavi {}
#topnavi ul {background: url("oarergayxya.gif") top left no-repeat;}
#topnavi ul li {background: url("oarergayxya.gif") top right no-repeat;}
#topnavi ul li a {}
#topnavi ul li a span{color: #fff;}
#topnavi ul li a:hover, #topnavi li#current a {}
#topnavi ul li a:hover span, #topnavi li#current a span{color: #15a5ff;}




#search {background: url("ndotrayssyplootr.gif") top left no-repeat;}
#search div.search .inputbox{
  border: none;
  background:transparent;
  color:#fff;
}




#header_text div.newsflash p {  color:#9ccbf7;}
#header_text div.newsflash a {color:#d9edff;}



#main{}



#leftcol h3{
  color: #15a5ff;
  text-shadow:1px 1px #000;
  background: url("thoocuathripleit.gif") top left no-repeat;
}

#leftcol div.module_menu div div, #leftcol div.module div div, #leftcol div.moduletable_menu div div, #leftcol div.moduletable div div{
  background: url("gyotwayplych.gif") top left no-repeat;
}
#leftcol div.module_menu div div div, #leftcol div.module div div div, #leftcol div.moduletable_menu div div div, #leftcol div.moduletable div div div{
  background: url("eetoihitheepy.gif") bottom left no-repeat;
}
#leftcol div.module_menu div div div div, #leftcol div.module div div div div, #leftcol div.moduletable_menu div div div div, #leftcol div.moduletable div div div div {background: transparent;}
#leftcol div.module_menu , #leftcol div.module, #leftcol div.moduletable, #leftcol div.moduletable_menu {
  background: url("hterssybyapigeyt.gif") top left repeat-y;
} 

#leftcol a:link, #leftcol a:visited {color:#15a5ff;}
#leftcol a:hover, #leftcol a:active {color:#afe0ff;}




#rightcol h3{
  color: #15a5ff;
  text-shadow:1px 1px #000;
  background: url("thoocuathripleit.gif") top left no-repeat;
}

#rightcol div.module_menu div div, #rightcol div.module div div, #rightcol div.moduletable_menu div div, #rightcol div.moduletable div div{
  background: url("gyotwayplych.gif") top left no-repeat;
}
#rightcol div.module_menu div div div, #rightcol div.module div div div, #rightcol div.moduletable_menu div div div, #rightcol div.moduletable div div div{
  background: url("eetoihitheepy.gif") bottom left no-repeat;
}
#rightcol div.module_menu div div div div, #rightcol div.module div div div div, #rightcol div.moduletable_menu div div div div, #rightcol div.moduletable div div div div {background: transparent;}
#rightcol div.module_menu , #rightcol div.module, #rightcol div.moduletable, #rightcol div.moduletable_menu {
  background: url("hterssybyapigeyt.gif") top left repeat-y;
} 

#rightcol a:link, #rightcol a:visited {color:#15a5ff;}
#rightcol a:hover, #rightcol a:active {color:#afe0ff;}




#leftcol ul.menu li a,
#leftcol ul.menu li ul li a,
#rightcol ul.menu li a,
#rightcol ul.menu li ul li a,
#leftcol ul#mainlevel li a,
#leftcol ul#mainlevel li ul li a,
#leftcol ul.mostread li a,
#rightcol ul.mostread li a,
#leftcol ul.latestnews li a,
#rightcol ul.latestnews li a,
#leftcol .moduletable ul li a,
#rightcol .moduletable ul li a {
  border-bottom:1px solid #445565;
}

#leftcol ul.menu li a:hover,
#leftcol ul.menu li.current a,
#leftcol ul.menu li ul li a:hover,
#rightcol ul.menu li a:hover,
#rightcol ul.menu li.current a,
#rightcol ul.menu li ul li a:hover,
#leftcol ul#mainlevel li a:hover,
#leftcol ul#mainlevel li a#active_menu,
#leftcol ul#mainlevel li ul li a:hover,
#leftcol ul.mostread li a:hover,
#rightcol ul.mostread li a:hover,
#leftcol ul.latestnews li a:hover,
#rightcol ul.latestnews li a:hover,
#leftcol .moduletable ul li a:hover,
#rightcol .moduletable ul li a:hover {
  color:#afe0ff;
  border-bottom:1px solid #445565;
}




#maincol_body h2 {color: #15a5ff;}
#maincol_body h3 {color: #fff;}
#maincol_body h4 {color: #15a5ff;}
#maincol_body p.source {font-size: 11px;}
.imagecaption {font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; background: #2b689d; color: #ffffff; padding: 2px 3px 3px; border-left: 1px solid #000; border-right: 1px solid #000; border-bottom: 1px solid #000;}}

#pathway div.breadcrumbs{}
#pathway div.breadcrumbs a{}


.article-info {color:#828181;}


div.pagenavcounter{color:#828181;}

.readmore a {
  color:#2c2c2c;
  background: url("eiqendakerhtond.gif") left no-repeat; 
}




#footer{}
#footer h3{
  color:#454545;
}
#footer p {
  color:#000;
}

#footer a:link, #footer a:visited {color:#0a5d91;}
#footer a:hover, #footer a:active {color:#02283f;}




#copyright {}
#copyright, #copyright div {
  color:#626262;
}

#copyright a:link, #copyright a:active, #copyright a:visited {
  color:#0a5d91;
}